appnope==0.1.4
attrs==26.1.0
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.7
contourpy==1.3.3
cycler==0.12.1
fonttools==4.62.1
idna==3.11
joblib==1.5.3
kiwisolver==1.5.0
matplotlib==3.10.8
numpy==2.4.4
packaging==26.1
pandas==3.0.2
pillow==12.2.0
platformdirs==4.9.6
psutil==7.2.2
pyarrow==23.0.1
pycparser==3.0
pyparsing==3.3.2
python-dateutil==2.9.0.post0
PyYAML==6.0.3
requests==2.33.1
scikit-learn==1.8.0
scipy==1.17.1
seaborn==0.13.2
setuptools==82.0.1
six==1.17.0
threadpoolctl==3.6.0
typing_extensions==4.15.0
tzdata==2026.1
urllib3==2.6.3
xgboost==3.2.0

# viz tool
fastapi
uvicorn[standard]
watchfiles

transformers
torch

pytest
